.students-list-of-group {
  margin-bottom: 30em;
}

.students-list-of-group-wrapper {
  display: flex;
  justify-content: flex-start;

}
.students-list {
  border: 1px solid #000;
  width: 50em;
  height: 30em;
  text-align: center;
  padding-top: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-of-students {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-of-students > li {
  width: 100%;
}
