.subjectButton{
    display: block; 
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 1.0rem;
    margin: 1rem 0;
    background-color:rgb(241, 241, 241);
    width:90%;
    height: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .subjectButtonName {
  display: flex;
  align-items: center;
  }
  .subjectButton h2 {
    font-size: 2.5rem;
    flex: 1;
    margin: 0 1rem;
    color: black;
    font-weight: lighter;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
  }
 