.modal {
  padding: 3%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  background: #fff;
  z-index: 3;
  overflow-y: auto;
}

.modal__close-modal {
  appearance: none;
  border: none;
  font-family: inherit;
  color: inherit;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  text-align: right;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
